<h1>候選人列表</h1>
<%= link_to '新增候選人', new_candidate_path %>
<ul>
<% @candidates.each do |candidate| %>
  <li>
  <%= candidate.name %>
  <%= link_to '編輯', edit_candidate_path(candidate) %>
  <%= link_to '刪除', candidate_path(candidate) %>
  </li>
<% end %>
</ul>
